
*


# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow specific configuration directories and their contents
!hypr/
!hypr/**
!hypr/.*

!waybar/
!waybar/**
!waybar/.*

!nautilus/
!nautilus/**
!nautilus/.*

!nvim/
!nvim/**
!nvim/.*

!obsidian/
!obsidian/**
!obsidian/.*

!okular/
!okular/**
!okular/.*

!kitty/
!kitty/**
!kitty/.*




!swaync/
!swaync/**
!swaync/.*

!neofetch/
!neofetch/**
!neofetch/.*

!systemd/
!systemd/**
!systemd/.*

!htop/
!htop/**
!htop/.*

!ranger/
!ranger/**
!ranger/.*

!qmk/
!qmk/**
!qmk/.*


!sddm.conf

# Allow specific files
!starship.toml



